<div class="d-flex flex-column align-items-center">
  <span class="fw-bolder fs-4 gap-content">ลงทะเบียน</span>

  <img class="avatar rounded-circle bg-white gap-content" [src]="imageAvatar">

  <form #userdataForm="ngForm" (submit)="onSubmit(userdataForm)" class="d-flex flex-column align-items-center">
    <mat-form-field class="gap-content" appearance="outline">
      <mat-label>หมายเลขบัตรประจำตัวประชาชน</mat-label>
      <input type="number" matInput ngModel name="idCard" required>
    </mat-form-field>
    <button mat-raised-button color="primary" class="gap-content w-100" type="submit">
      ลงทะเบียน
    </button>
  </form>

</div>
